body,
html {
    overflow: hidden;
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif, Verdana;
    font-weight: 400;
    font-style: normal;
}

details,
summary {
    display: block;
    border-top: 1px solid #000;
    padding: 1em;
    text-transform: uppercase;
}

summary {
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}

summary:hover,
summary:focus {
    background: red;
}

details summary a:visited {
    color: red
}

::-webkit-scrollbar {
    margin-right: 5px;
    background-color: #eee;
    width: 12px;
}

::-webkit-scrollbar-track {
    -webit-box-shadow: 0 0 2px #ccc;
}

::-webkit-scrollbar-thumb {
    background: #000;
    /* main color */
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #bbb;
    box-shadow: 0 0 8px #999 inset;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.sponsor {
    margin-top: 30px;
}

.sponsor a {
    display: block;
    background: url('img/jquery.svg') no-repeat;
    width: 113px;
    height: 113px;
}

.menu-icon-main {
    width: 30px;
    text-align: center;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

#main {
    margin-top: 20px;
    position: relative;
    left: 0;
    padding: 0;
    margin: 0;
}

#main br {
    height: 0;
}

summary {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0;
    padding-left: 0;
    cursor: pointer;
    cursor: hand;
    display: block!important;
}

details {
    cursor: pointer;
    cursor: hand;
}

#container {
    width: 350px;
    height: 100%;
    padding: 0;
    overflow-y: scroll!important;
    position: absolute;
    top: 0px;
    left: 0px
}

#receiver {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 0;
    height: 100%;
    width: calc(100% - 350px);
}

.menu-button {
    text-align: left;
    margin: 0px;
    border-radius: 0px!important;
}

.sub-menu {
    display: block;
    text-align: left;
    margin: 0px;
    border-radius: 0px!important;
}

header {
    text-align: center;
    margin-top: 14px;
}

.o-o {
    visibility: hidden;
    display: none;
}

.cc {
    background: transparent!important;
}

::-moz-selection {
    background: #000;
    color: white;
    text-shadow: none;
}

::selection {
    background: #000;
    color: white;
    text-shadow: none;
}

* {
    font-size: 22px!important
}