* {
    font-family: "source code pro", monospace;
    
}

body {
    padding: 50px;
    color: #201e1c;
    background: white;
}

p,
pre,
a {
    font-weight: 300
}

h1,
h2,strong {
    font-weight: 700;
}

#cdn-files,
.footer {
    font-size: 9px;
    font-family: Verdana, Arial, Helvetica;
    line-height: 20px;
}


a {
    text-decoration: none
}

a:visited,
a:hover {
    color: Blue
}

.footer-links a {
    margin-bottom: 25px
}
.emph{
    text-decoration:underline;
}